@import "tailwindcss";

/* Default theme variables */

:root {
  --background: 245, 245, 245;
  --primary: 73, 175, 83;
  --secondary: 102, 102, 102;
  --light-gray: 243, 244, 246;
  --dark-gray: 24, 28, 20;
  --button-primary: 255, 255, 255;
  --stable-gray: 24, 28, 20;
  --brands-gray: 243, 244, 246;
}

/* Light theme */
[data-theme="light"] {
  --background: 245, 245, 245;
  --primary: 49, 175, 70;
  --secondary: 102, 102, 102;
  --light-gray: 239, 240, 239;
  --dark-gray: 24, 28, 20;
  --black-gay: 23, 23, 23;
  --stable-gray: 24, 28, 20;
  --brands-gray: 239, 240, 239;
}

/* Dark theme */
[data-theme="dark"] {
  --background: 0, 0, 0;
  --primary: 73, 175, 83;
  --secondary: 180, 180, 180;
  --light-gray: 33, 33, 33;
  --dark-gray: 245, 245, 245;
  --stable-gray: 33, 33, 33;
  --brands-gray: 51, 51, 53;
}
@theme {
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-background: rgb(var(--background));
  --color-light-gray: rgb(var(--light-gray));
  --color-dark-gray: rgb(var(--dark-gray));
  --color-button-primary: rgb(var(--button-primary));
  --color-avocado-100: rgb(var(--oragne));
  --color-stable-gray: rgb(var(--stable-gray));
  --color-brands-gray: rgb(var(--brands-gray));
}

/* globals.css */
html {
  @apply transition-colors duration-800;
}
body {
  background-color: rgb(var(--background));
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.container-banner,
.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

.container {
  margin: 3rem auto 8rem;
}

.footer {
  max-width: 1300px;
  width: 90%;
  margin: 0em auto;
}

.slick-slide {
  padding: 0 10px;
}
/* Make dots larger and green */
.slick-dots li button:before {
  font-size: 12px;
  color: #10b981; /* Tailwind emerald-500 */
  opacity: 0.6;
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: #059669; /* Tailwind emerald-600 */
  opacity: 1;
}

.group-hover\:text-white {
  transition: color 0.3s ease;
}

.service-icon {
  height: 45px;
  width: 45px;
}
.normal-icon {
  height: 20px;
  width: 20px;
}
.contact-icon {
  height: 30px;
  width: 30px;
}

@layer base {
  h1,
  h2 {
    line-height: 8rem;
  }
  p {
    font-size: clamp(0.95rem, 1.9vw + 1rem, 1rem);
    max-width: 80ch;
    line-height: 1.8rem;
  }
}

.map-wrapper .leaflet-container {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.map-wrapper:hover .leaflet-container {
  filter: grayscale(0%);
}

@media screen and (min-width: 1640px) {
  .container,
  .container-banner {
    max-width: 1500px;
  }
}

@media screen and (min-width: 1024px) {
  .service-icon {
    height: 65px;
    width: 65px;
  }

  .normal-icon {
    height: 30px;
    width: 30px;
  }
  .contact-icon {
    height: 40px;
    width: 40px;
  }
}
